{% extends "imagersite/base.html" %}
{% block body %}
    <h1>Library</h1>
    <h2>Your Albums</h2>
    <div class="row">
        {% for album in albums %}
            <div class='col-md-3'>
                <h3><a href="{% url 'album' pk=album.pk %}">{{ album.title }}</a></h3>
                {% if album.cover_photo %}
                    <a href="{% url 'album' pk=album.pk %}"><img src='{{ album.cover_photo.url }}' height='150'/></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h2>Your Pics</h2>
    <div class="row">
        {% for image in images %}
            <div class='col-md-3'>
                <p> {{ image.title }}</p>
                <a href="{% url 'photo' photo_id=image.photo_id %}"><img src='{{ image.file.url }}' height='150'/></a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
