{% extends "imagersite/base.html" %}
{% block body %}

  <h2>Your Albums</h2>
    <div class="row">
      {% for album in albums %}
        <div class='col-md-3'>
          <p> {{ album.title }}</p>
          <img src='{{ album.cover_photo.url }}' width='100'/>
        </div>
      {% endfor %}
    </div>

  <h2>Your Pics</h2>
  <div class="row">
    {% for image in images %}
      <div class='col-md-3'>
        <p> {{ image.title }}</p>
        <img src='{{ image.file.url }}' width='100'/>
      </div>
    {% endfor %}
  </div>

{% endblock %}
