{% extends "imagersite/base.html" %}
{% block body %}

    <h1>Photo: {{ photo.title }}</h1>
    <p>height_field: {{ photo.height_field }}</p>
    <p>width_field: {{ photo.width_field }}</p>
    <p>height_field: {{ photo.height_field }}</p>
    <p>description: {{ photo.description }}</p>
    <p>date_created: {{ photo.date_created }}</p>
    <p>date_modified: {{ photo.date_modified }}</p>
    <p>date_pub: {{ photo.date_pub }}</p>
    <p>published: {{ photo.published }}</p>
    <p>Part of the albums: This is a to do {{ photo.album.title }}</p>


    <img src='{{ photo.file.url }}' width='500'/>

{% endblock %}