{% extends "imagersite/base.html" %}
{% block body %}
    <h1>Imagersite</h1>
    <img src="media/home.jpeg" width="500">
    <p>Join the site or I will kill you!</p>
    <a class="btn btn-default" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-default" href="{% url 'logout' %}" role="button">Logout</a>
    <p>Not  a member?</p>
    <a class="btn btn-default" href="{% url 'registration_register' %}" role="button">
      Sign Up</a>
    <h3>This image was chosen at random</h3>
    <p>{{message}}: {{ photo.file }}</p>
    <img src="{{ photo.file }}" width="500">

{% endblock %}
