{% extends "imagersite/base.html" %}
{% block body %}
    <h3>Welcome {{ photographer }}</h3>
    <h3>Welcome {{ request.user.username }}</h3>
    <h1>Imagersite</h1>
    <img src="media/home.jpeg" width="500">
    <p>Join the site or I will kill you!</p>
    <a class="btn btn-default" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-default" href="{% url 'logout' %}" role="button">Logout</a>
    <p>Not  a member?</p>
    <a class="btn btn-default" href="{% url 'registration_register' %}" role="button">
      Sign Up</a>

{% endblock %}
